# --- CCS C Compiler Junk ---
*.err
*.esym
*.hex
*.lst
*.obj
*.pjt
*.sym
*.tre
*.bak
*.cof
*.stat
*.tree

# --- OrCAD / Electronic Design Junk ---
*.bk?
*.log
*.jrl
*.tag
*.lock
*.opj
*.dbk
*.did

# --- OS Junk ---
Thumbs.db
.DS_Store
