************************************************************
*                                                          *
* DRILL TAPE SUMMARY REPORT                                *
*                                                          *
* C:\USERS\ELEK2\DESKTOP\PROYECTO3\LINTERNA\LINTERNA4.MAX  *
* Mon Feb 04 12:47:27 2013                                 *
*                                                          *
************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       315      8        200      100                                                                                 
T2       1181     1        200      100                                                                                 
